snippet test
Tested-by: `git config user.name` <`git config user.email`>
endsnippet

snippet review
Reviewed-by: `git config user.name` <`git config user.email`>
endsnippet

snippet review
Reviewed-by: `git config user.name` <`git config user.email`>
endsnippet
