[submodule "emacs.d/lisp/projectile"]
	path = emacs.d/lisp/projectile
	url = https://github.com/bbatsov/projectile
[submodule "antigen"]
	path = antigen
	url = http://github.com/zsh-users/antigen.git
