[user]
	name = Andrew Ruder
	email = andy@aeruder.net
[alias]
	stat = status
	s = status
	smfer = submodule foreach --recursive
	smfe = submodule foreach
	smu = submodule update
	smur = submodule update --recursive
	st = ls-files -d -m -o -v --directory --no-empty-directory --exclude-per-directory=.gitignore
	co = checkout
	cia = commit -a
	cpick = cherry-pick
	fl = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	fla = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	l = log --abbrev-commit
	root = rev-parse --show-toplevel
	amend = commit --amend
	commit-rnd = !sh -c \"git commit -m \\\"FIXME `curl -s http://whatthecommit.com/index.txt`\\\"\"
	rbc = rebase --continue
	gud = push
	pt = push -n -v
	ps = push-sandbox
[color]
	ui = auto
[merge]
	log = True
	conflictstyle = diff3
[push]
	default = simple
[log]
	decorate = True
[diff]
	renames = copy
[am]
	keepcr = True
[core]
	preloadindex = True
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[sendemail]
	smtpencryption = ssl
	smtpserver = mail.messagingengine.com
	smtpuser = aeruder@fastmail.fm
	smtpserverport = 465
	confirm = always
[include]
	path = ~/.gitconfig.local
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = http://github.com/
	pushInsteadOf = git://github.com/
[url "git@github.com:"]
	insteadOf = gh:
