GPATH
GRTAGS
GSYMS
GTAGS
.vimrc
.*.swp
.*.swo
.DS_Store
*.nocm
tags
*~
.nfs*
.cdtproject
.project
.settings
.gdbinit
.ccmwaid.inf
*.pyc
*.dSYM
\#*#
.\#*
.local.vimrc
.projectile
.byebug_history
.tramp_history
/.vscode/settings.json
instruments*.trace
.vstags
/.docker-sync
.fdignore
.ignore