[user]
	name = Andrew Ruder
	email = andy@aeruder.net
[alias]
	amend = commit --amend
	cia = commit -a
	co = checkout
	commit-rnd = !sh -c \"git commit -m \\\"FIXME `curl -s http://whatthecommit.com/index.txt`\\\"\"
	cpick = cherry-pick
	fl = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	fla = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	flb = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
	gud = push
	l = log --abbrev-commit
	ps = push-sandbox
	pt = push -n -v
	rbc = rebase --continue
	root = rev-parse --show-toplevel
	s = status
	smfe = submodule foreach
	smfer = submodule foreach --recursive
	smu = submodule update
	smur = submodule update --recursive
	st = ls-files -d -m -o -v --directory --no-empty-directory --exclude-per-directory=.gitignore
	stat = status
	tr = branch -u origin/master
	d = diff
	p = pull
	lp = log -p
	f = fetch
	rbm = rebase -i origin/master
	rbu = rebase -i
	ls = log --stat
	br = branch
[color]
	ui = auto
[merge]
	log = True
	conflictstyle = diff3
[push]
	default = simple
[log]
	decorate = True
[diff]
	renames = copy
[am]
	keepcr = True
[core]
	preloadindex = True
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[sendemail]
	smtpencryption = ssl
	smtpserver = mail.messagingengine.com
	smtpuser = aeruder@fastmail.fm
	smtpserverport = 465
	confirm = always
[include]
	path = ~/.gitconfig.local
[url "https://github.com/"]
	insteadOf = "http://github.com/"
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = http://github.com/
	pushInsteadOf = git://github.com/
[url "git@github.com:"]
	insteadOf = gh:
[rebase]
	autoStash = true
[commit]
	verbose = true
