[user]
	name = Andrew Ruder
	email = andy@aeruder.net
[alias]
	amend = commit --amend
	cia = commit -a
	co = checkout
	commit-rnd = !sh -c \"git commit -m \\\"FIXME `curl -s http://whatthecommit.com/index.txt`\\\"\"
	cpick = cherry-pick
	fl = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) A:%C(bold blue)<%an> C:%C(bold blue)<%cn>%Creset' --abbrev-commit --date=relative
	fla = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) A:%C(bold blue)<%an> C:%C(bold blue)<%cn>%Creset' --abbrev-commit --date=relative --all
	flb = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(bold red)%d%Creset %s %Cgreen(%cr) A:%C(bold blue)<%an> C:%C(bold blue)<%cn>%Creset' --abbrev-commit --date=relative --branches
	gud = push
	l = log --abbrev-commit
	ps = push-sandbox
	pt = push -n -v
	rbc = rebase --continue
	root = rev-parse --show-toplevel
	s = status
	smfe = submodule foreach
	smfer = submodule foreach --recursive
	smu = submodule update
	smur = submodule update --recursive
	st = ls-files -d -m -o -v --directory --no-empty-directory --exclude-per-directory=.gitignore
	stat = status
	tr = branch -u origin/HEAD
	d = diff
	p = pull
	lp = log -p
	f = fetch
	rbm = rebase -i origin/HEAD
	rbu = rebase -i
	ls = log --stat
	br = branch
	bs = branch-summary
	pushf = push --force-with-lease
	fetchp = fetch --prune
[color]
	ui = auto
[merge]
	log = True
	conflictstyle = diff3
[push]
	default = current
[log]
	decorate = True
	date = format-local:%c %z
[diff]
	renames = copy
[am]
	keepcr = True
[core]
	preloadindex = True
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[sendemail]
	smtpencryption = ssl
	smtpserver = mail.messagingengine.com
	smtpuser = aeruder@fastmail.fm
	smtpserverport = 465
	confirm = always
[include]
	path = ~/.gitconfig.local
[url "https://github.com/"]
	insteadOf = "http://github.com/"
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = http://github.com/
	pushInsteadOf = git://github.com/
[rebase]
	autoStash = true
	autoSquash = true
[commit]
	verbose = true
[gc]
	pruneExpire = 2 days ago
[format]
	pretty = fuller
[notes]
	rewriteRef = refs/notes/commits
[fetch]
	negotiationAlgorithm = skipping
	writeCommitGraph = true
[pack]
	useSparse = true
[feature]
	manyFiles = true
[credential]
	helper = 
[credential "https://git.zr.org"]
	helper = /home/aeruder/go/bin/zam git-credential-gitlab
[credential "https://test-git.zr.org"]
	helper = /home/aeruder/go/bin/zam git-credential-gitlab
