<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.reorganize-screenshots</string>
  <key>WatchPaths</key>
  <array>
    <string>~/Documents/Screenshots</string>
  </array>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>"$HOME"/.dotfiles/bin/reorganize-mac-screenshots sleep</string>
  </array>
</dict>
</plist>
